Features (User Stories):

Landing Page (4):
✅ As a user I want to view top 5 rented films of all times
✅ As a user I want to be able to click on any of the top 5 films and view its details
✅ As a user I want to be able to view top 5 actors that are part of films I have in the store
✅ As a user I want to be able to view the actor’s details and view their top 5 rented films

Films Page (3):
✅ As a user I want to be able to search a film by name of film, name of an actor, or genre of the film
✅ As a user I want to be able to view details of the film
✅ As a user I want to be able to rent a film out to a customer

Customer Page (7):
✅ As a user I want to view a list of all customers (Pref. using pagination)
✅ As a user I want the ability to filter/search customers by their customer id, first name or last name.
✅ As a user I want to be able to add a new customer
✅ As a user I want to be able to edit a customer’s details
✅ As a user I want to be able to delete a customer if they no longer wish to patron at store
✅ As a user I want to be able to view customer details and see their past and present rental history
✅ As a user I want to be able to indicate that a customer has returned a rented movie

Video Deliverable Guideline
•    Your video cannot be longer than 10 minutes
•    You should run your front end and back end at the beginning of the video.
•    You must record a live demonstration of your application.
•    Recording MUST be uploaded onto youtube.com
•    You may use your choice of recording software, but there should not be any water marking on the video. OBS studio is opensource and works very well and highly recommended.
•    Audio & Video must be clear for full credit for video
•    You should take the time to upload video into consideration. Video not uploaded before due date will result in 0 for the milestone.
•    MS2 video will probably be less than 5-6 minutes
•    MS3 must demonstrate all features (even ones completed in MS2)